@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-title, .text-body, .text-hero,
.text-cardText1, .text-cardText2,
.text-button, .text-button-action, .text-statement
{
   @apply font-body
}

.text-title, .text-body, .text-hero,
.text-cardText1, .text-cardText2, .text-statement
{
    @apply texts
}

.text-subtitle1, .text-subtitle2, .text-ornament {
    @apply font-code texts;
}

.texts {
    @apply text-obsidian dark:text-white
}

@screen sm {
    .text-title {
        @apply text-title-desk;
    }

    .text-body {
        @apply text-body-desk;
    }

    .text-hero {
        @apply text-hero-desk;
    }

    .text-statement {
        @apply text-statement-desk;
    }

    .text-cardText1 {
        @apply text-cardText1-desk;
    }

    .text-cardText2 {
        @apply text-cardText2-desk;
    }

    .text-button {
        @apply text-button-desk;
    }

    .text-button-action {
        @apply text-button-action-desk;
    }

    .text-subtitle1 {
        @apply text-subtitle1-desk;
    }

    .text-subtitle2 {
        @apply text-subtitle2-desk;
    }

    .text-ornament {
        @apply text-ornament-desk;
    }
}

.border-gradient {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(90deg, rgba(227,226,227,1) 0%, rgba(250,249,249,1) 100%);
    content: '';
    margin: 10px;
}

.sticky .border-gradient {
    background: linear-gradient(90deg, rgba(227,226,227,1) 0%, rgba(250,249,249,0) 100%);
}

.dark .sticky .border-gradient {
    background: linear-gradient(18deg, rgba(169,169,169,1) 0%, rgba(65,65,65,0) 100%);
}

.dark .border-gradient {
    background: linear-gradient(18deg, rgba(65,65,65,1) 0%, rgba(169,169,169,1) 100%);
}



.rotating-gradient {
    background: url(../../public/images/noise-texture-200x200.png), 100px 100px repeat, linear-gradient(46deg, rgba(73, 9, 103, 0.81) 20.83%, rgba(17, 141, 181, 0.79) 97.92%);
}


.fuckScrollBar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.fuckScrollBar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

html {
    @apply bg-neutral-900;
}