@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-title, .text-body, .text-hero,
.text-cardText1, .text-cardText2,
.text-button, .text-button-action, .text-statement
{
   @apply font-body;
}

.text-subtitle1, .text-subtitle2, .text-ornament {
    @apply font-code;
}

@screen sm {
    .text-title {
        @apply text-title-desk;
    }

    .text-body {
        @apply text-body-desk;
    }

    .text-hero {
        @apply text-hero-desk;
    }

    .text-statement {
        @apply text-statement-desk;
    }

    .text-cardText1 {
        @apply text-cardText1-desk;
    }

    .text-cardText2 {
        @apply text-cardText2-desk;
    }

    .text-button {
        @apply text-button-desk;
    }

    .text-button-action {
        @apply text-button-action-desk;
    }

    .text-subtitle1 {
        @apply text-subtitle1-desk;
    }

    .text-subtitle2 {
        @apply text-subtitle2-desk;
    }

    .text-ornament {
        @apply text-ornament-desk;
    }
}

.border-gradient {

    /*border-image: linear-gradient(90deg, rgba(227,226,227,0.87) 0%, rgba(250,249,249,0.92) 100%) 1;*/
}



.dark .border-gradient {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(18deg, rgba(65,65,65,1) 0%, rgba(65,65,65,0) 100%);
    content: '';
    z-index: -100;
    border-radius: 100px;

    /*border-image: linear-gradient(18deg, rgba(65,65,65,1) 0%, rgba(65,65,65,0) 100%) 1;*/
}


.rotating-gradient {
    background: url(/noise-texture-200x200.png), 100px 100px repeat, linear-gradient(46deg, rgba(73, 9, 103, 0.81) 20.83%, rgba(17, 141, 181, 0.79) 97.92%);
}